<!DOCTYPE html>
<html lang="en" ng-app="List">
  <head>
    <meta charset="UTF-8" />
    <title>To do list</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/custom.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as toDoCtrl">

    <section class="container col-md-5">
      <form class="input-group">
        <input type="text" class="form-control" maxlength="63" ng-model="toDoCtrl.inputTask" />
        <span class="input-group-btn">
          <input type="submit" value="Add task" class="btn btn-default outline add-btn" ng-click="toDoCtrl.addTask()">
        </span>
      </form>

      <ul class="list-group" ng-repeat="task in toDoCtrl.allTasks | filter: status">
        <li class="list-group-item">
          <span ng-hide="task.editing" ng-dblclick="toDoCtrl.editTask(task)">
            {{ task.description }}
          </span>
          <input ng-show="task.editing" ng-model="task.description" ng-keydown="toDoCtrl.doneEditing(task)" autofocus>
          <button class="btn btn-danger btn-lg outline pull-right delete-btn" ng-click="toDoCtrl.deleteTask(task)">Delete</button>
          <input class="checkbox pull-left" type="checkbox" ng-model="task.completed" ng-true-value="'completed'" ng-false-value="'active'" />
        </li>
      </ul>
      <p class="total-count">Total Tasks: {{ (toDoCtrl.allTasks | filter: status).length }} / {{ toDoCtrl.allTasks.length }}</p>

      <div class="buttons">
        <button class="btn btn-warning btn-lg outline filter-all" ng-click="status.completed = ''">All</button>
        <button class="btn btn-default btn-lg outline filter-active" ng-click="status.completed = 'active'">Active</button>
        <button class="btn btn-default btn-lg outline filter-completed" ng-click="status.completed = 'completed'">Completed</button>
        <button class="btn btn-default btn-lg outline clear-completed" ng-click="toDoCtrl.clearCompleted()">Clear Completed</button>
      </div>
    </section>

  </body>

</html>