<!DOCTYPE html>
<html lang="en" ng-app="List">
  <head>
    <meta charset="UTF-8" />
    <title>To do list</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as toDoCtrl">
    <div>
      <form>
        <input type="text" ng-model="toDoCtrl.inputTask" />
        <button class="add-btn" ng-click="toDoCtrl.addTask()">Add task</button>
      </form>
    </div>

    <ul class="list-group" ng-repeat="task in toDoCtrl.allTasks">
      <li class="list-group-item">
        <span ng-hide="editing">
          {{ task }} <input class="edit" ng-click="editing = true" type="submit" value="Edit">
        </span>
        <span ng-show="editing">
          <input type="text" ng-model="toDoCtrl.editInput">
          <button class="save" ng-click="toDoCtrl.updateTask($index); editing = false">Save</button>
        </span>
        <input class="completed" type="checkbox" />
        <button class="delete-btn" ng-click="toDoCtrl.deleteTask($index)">Delete task</button>
      </li>
    </ul>
    <p class="total-count">Total Tasks: {{ toDoCtrl.allTasks.length }}</p>
  </body>

</html>