<!DOCTYPE html>
<html lang="en" ng-app="List">
  <head>
    <meta charset="UTF-8" />
    <title>To do list</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as toDoCtrl">
    <div>
      <form>
        <input type="text" ng-model="toDoCtrl.inputTask" />
        <button class="btn" ng-click="toDoCtrl.addTask()"></button>
      </form>
    </div>

    <ul class="list-group">
      <li ng-repeat="each in toDoCtrl.allTasks">
        <p>{{ each.task }}</p>
      </li>
    </ul>
  </body>

</html>